<html>
    <head>
        <meta charset="utf-8">
        <title>About - Michael Ciociola</title>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/about.css">
    </head>
    <body>
        <header>
            <div id="navbar">
                <ul id="nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a class="active" href="about.html">About</a></li>
                    <li><a href="works.html">Works</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </header>
        
        <main>
            <h1>About Michael</h1>
            <hr>
            <div class="img-container">
                <img class="portrait" src="../assets/images/michael.jpg" alt="">        
            </div>
            
            <div class="biography">
                
                <p>Michael is a developer and researcher. His focus is on high performance computing and systems design. Michael is familiar with C++, C, Python, Ruby, Linux based systems and more.</p>
                <blockquote>
                    "I program in C++ because I enjoy the challenge it inevitably brings."
                </blockquote>
            </div>
            <div class="hobbies">
                <h2>Hobbies and Misc. Interests</h2>
                <hr>
                <p>Michael has many interesting extra-curricular activities, including electrical engineering projects such as a home-built 3D printer and electronic longboard to cryptocurrency mining and bulk cold brew coffee making. Although many of his quirks and features are very niche, he enjoys normal things like working on his car and video games as well. </p>
            </div>
            
            <div class="skills">
                <h2>Relevant skills</h2>
                <hr>
                <ul>
                    <li>C and C++</li>
                    <li>Python</li>
                    <li>Ruby, Rails</li>
                    <li>OpenGL</li>
                    <li>Debian and Ubuntu</li>
                    <li>Bash scripting</li>
                </ul>
            </div>   
            
            <div class="resume">
                <h2>Resume</h2>
                <hr>
                <p>Click below to access Michael's resume (not yet available)</p>
                <img src="../assets/images/page-icon.png" alt="Resume image">
            </div>
        </main>
        
        <footer id="footer">
            <p>
                <a href="https://github.com/Spoons">
                    <img src="../assets/images/github.svg" alt=""> Michael Ciociola
                </a>
            </p>
        </footer>
    </body>
</html>