<html>
    <head>
        <meta charset="utf-8">
        <title>About - Michael Ciociola</title>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/about.css">
    </head>
    <body>
        <header>
            <div id="navbar">
                <ul id="nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a class="active" href="about.html">About</a></li>
                    <li><a href="works.html">Works</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </header>
        
        <main>
            <h1>About Michael</h1>
            <hr>
            <div class="about-portrait">
                <img class="portrait" src="../assets/images/michael.jpg" alt="">    
                <p>Michael is a developer and researcher. His focus is on high performance computing and systems design. Michael is familiar with C++, C, Python, Ruby, Linux based systems and more.</p>
                <blockquote>
                    "This will eventually be a quote retrieved from Michael about himself and his hobbies."
                </blockquote>
            </div>
            <div class="hobbies">
                <h2>Hobbies and Misc. Interests</h2>
                <hr>
                <p>Information about Michaels interests and hobbies will go here</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis sapiente, possimus incidunt ex, accusamus hic totam repellendus dolores nobis ducimus quibusdam laudantium praesentium soluta rerum voluptatibus vitae, eaque, eum impedit.</p>
            </div>
            
            <div class="skills">
                <h2>Relevant skills</h2>
                <hr>
                <ul>
                    <li>Skill</li>
                    <li>Skill</li>
                    <li>Skill</li>
                    <li>Skill</li>
                    <li>Skill</li>
                    <li>Skill</li>
                    <li>Skill</li>
                    <li>Skill</li>
                    <li>Skill</li>
                    <li>Skill</li>
                </ul>
            </div>   
            
            <div class="resume">
                <h2>Resume</h2>
                <hr>
                <p>Click below to access Michael's resume</p>
                <img src="http://via.placeholder.com/150x150" alt="Resume image">
            </div>
        </main>
        
        <footer id="footer">
            <p>
                <a href="https://github.com/Spoons">
                    <img src="../assets/images/github.svg" alt=""> Michael Ciociola
                </a>
            </p>
        </footer>
    </body>
</html>