<html>
    <head>
        <meta charset="utf-8">
        <title>About - Michael Ciociola</title>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/about.css">
    </head>
    <body>
        <header>
            <div id="navbar">
                <ul id="nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a class="active" href="about.html">About</a></li>
                    <li><a href="works.html">Works</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </header>
        
        <main></main>
        
        <footer id="footer">
            <p>
                <a href="https://github.com/Spoons">
                    <img src="../assets/images/github.svg" alt=""> Michael Ciociola
                </a>
            </p>
        </footer>
    </body>
</html>