<html>
    <head>
        <meta charset="utf-8">
        <title>Michael Ciociola</title>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <header>
            <div id="navbar">
                <ul id="nav">
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="works.html">Works</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </header>
        
        <main>
            <h1>Portfolio - Michael Ciociola</h1>
            <hr>
            <p>This site is a portfolio for Michael Ciociola, <span class="highlight">developed in efforts with colleague Thomas Nix</span>. Below you will find a reference for the pages listed in the navigation bar above.</p>
            
            <table class="table">
                <thead>
                    <td class="head-data">Page</td>
                    <td class="head-data">Reference</td>
                </thead>
                <tr class="data-row">
                    <td class="table-data">Home</td>
                    <td class="table-data">Portfolio information</td>
                </tr>
                <tr class="data-row">
                    <td class="table-data">About</td>
                    <td class="table-data">Information on Michael</td>
                </tr>
                <tr class="data-row">
                    <td class="table-data">Works</td>
                    <td class="table-data">Projects &amp; Works Gallery</td>
                </tr>
                <tr class="data-row">
                    <td class="table-data">Contact</td>
                    <td class="table-data">Contact information for Michael</td>
                </tr>
            </table>
            
            <h1>Development</h1>
            <hr>
            <p>This page was (currently) developed using HTML, CSS, and vanilla JavaScript. Future goals (potentially distant future) for this page include server-side template rendering with EJS and deployment to a linux cloud server.</p>
            <div class="picture-container">
                <img src="../assets/images/tech.png" alt="Development logos">
            </div>
        </main>
        
        <footer id="footer">
            <p>
                <a href="https://github.com/Spoons">
                    <img src="../assets/images/github.svg" alt=""> Michael Ciociola
                </a>
            </p>
        </footer>
    </body>
</html>