<html>
    <head>
        <meta charset="utf-8">
        <title>Works - Michael Ciociola</title>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/works.css">
    </head>
    <body>
        <header>
            <div id="navbar">
                <ul id="nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a class="active" href="works.html">Works</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </header>
        
        <main>
            <h1>Projects &amp; Works Gallery</h1>
            <hr>
            <p>Below you will find my works, personal and professional.</p>
            
            <div id="modal">
                <img src="#" alt="Image">
                <h2 class="title">Image above</h2>
                <p class="description"></p>
                <button id="model_close">X</button>
            </div>
            
            <div id="gallery_section">
            
                <div class="img-content">
                    <img src="http://via.placeholder.com/200x200" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>TestContent1</p>   
                    <p class="no-show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ducimus at, optio doloribus, deleniti reprehenderit. Magnam voluptates asperiores aspernatur fugit amet consectetur aliquam similique sapiente, ratione incidunt quasi dolore ullam?</p>
                </div>
                 <div class="img-content">
                    <img src="http://via.placeholder.com/200x200" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>TestContent2</p>   
                    <p class="no-show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ducimus at, optio doloribus, deleniti reprehenderit. Magnam voluptates asperiores aspernatur fugit amet consectetur aliquam similique sapiente, ratione incidunt quasi dolore ullam?</p>
                </div>
                 <div class="img-content">
                    <img src="http://via.placeholder.com/200x200" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>CONTENT</p> 
                    <p class="no-show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ducimus at, optio doloribus, deleniti reprehenderit. Magnam voluptates asperiores aspernatur fugit amet consectetur aliquam similique sapiente, ratione incidunt quasi dolore ullam?</p>  
                </div>
                 <div class="img-content">
                    <img src="http://via.placeholder.com/200x200" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>CONTENT</p>   
                    <p class="no-show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ducimus at, optio doloribus, deleniti reprehenderit. Magnam voluptates asperiores aspernatur fugit amet consectetur aliquam similique sapiente, ratione incidunt quasi dolore ullam?</p>
                </div>




                <div class="img-content">
                    <img src="http://via.placeholder.com/200x200" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>CONTENT</p>   
                    <p class="no-show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ducimus at, optio doloribus, deleniti reprehenderit. Magnam voluptates asperiores aspernatur fugit amet consectetur aliquam similique sapiente, ratione incidunt quasi dolore ullam?</p>
                </div>
                 <div class="img-content">
                    <img src="http://via.placeholder.com/200x200" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>CONTENT</p>   
                    <p class="no-show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ducimus at, optio doloribus, deleniti reprehenderit. Magnam voluptates asperiores aspernatur fugit amet consectetur aliquam similique sapiente, ratione incidunt quasi dolore ullam?</p>
                </div>
                 <div class="img-content">
                    <img src="http://via.placeholder.com/200x200" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>CONTENT</p>   
                    <p class="no-show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ducimus at, optio doloribus, deleniti reprehenderit. Magnam voluptates asperiores aspernatur fugit amet consectetur aliquam similique sapiente, ratione incidunt quasi dolore ullam?</p>
                </div>
                 <div class="img-content">
                    <img src="http://via.placeholder.com/200x200" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>CONTENT</p>   
                    <p class="no-show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ducimus at, optio doloribus, deleniti reprehenderit. Magnam voluptates asperiores aspernatur fugit amet consectetur aliquam similique sapiente, ratione incidunt quasi dolore ullam?</p>
                </div>   
            
            </div>
        </main>
        
        <footer id="footer">
            <p>
                <a href="https://github.com/Spoons">
                    <img src="../assets/images/github.svg" alt=""> Michael Ciociola
                </a>
            </p>
        </footer>
        
        <script src="../js/works.js"></script>
    </body>
</html>