<html>
    <head>
        <meta charset="utf-8">
        <title>Works - Michael Ciociola</title>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/works.css">
    </head>
    <body>
        <header>
            <div id="navbar">
                <ul id="nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a class="active" href="works.html">Works</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </header>
        
        <main>
            <h1>Projects &amp; Works Gallery</h1>
            <hr>
            <p>Below you will find my works, personal and professional.</p>
            
            <div id="modal">
                <img src="#" alt="Image">
                <h2 class="title">Image above</h2>
                <p class="description"></p>
                <button id="model_close">X</button>
            </div>
            
            <div id="gallery_section">
            
                <div class="img-content">
                    <img src="../assets/images/works/printer.jpg" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>3D Printer</p>   
                    <p class="no-show">Michael built this 3D printer in his closet over years and programmed it for optimum performance, speed, and efficiency.</p>
                </div>
                 <div class="img-content">
                    <img src="../assets/images/works/car.jpg" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>Scion FR-S</p>   
                    <p class="no-show">Michael's favorite thing is his Scion FR-S, that he has also upgraded over the years.</p>
                </div>
                 <div class="img-content">
                    <img src="../assets/images/works/bike.jpg" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>Electric Scooter</p> 
                    <p class="no-show">Michael has a knack for electrical construction, and has built this scooter from spare parts and put everything together himself, it goes over 30MPH</p>  
                </div>

                <div class="img-content">
                    <img src="../assets/images/works/nodecrypto.png" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>NodeCrypto</p>   
                    <p class="no-show">NodeCrypto is an web-based open-source encrypted file storage system Michael built as part of a group for his ITCS4155 course.</p>
                </div>
                 <div class="img-content">
                    <img src="../assets/images/works/fastimageranking.png" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>FastImageRandking</p>   
                    <p class="no-show">A multithreaded Matlab plugin written in C/C++ that ranks similarity between objects in large arrays of images.</p>
                </div>
                 <div class="img-content">
                    <img src="../assets/images/works/speechtocode.png" alt="" width="200" height="200" alt="IMAGE_DESC">      
                    <p>SpeechToCode</p>   
                    <p class="no-show">SpeechToCode is a program written by Michael in Python to assist him in using his computer via voice-to-action</p>
                </div>        
            </div>
        </main>
        
        <footer id="footer">
            <p>
                <a href="https://github.com/Spoons">
                    <img src="../assets/images/github.svg" alt=""> Michael Ciociola
                </a>
            </p>
        </footer>
        
        <script src="../js/works.js"></script>
    </body>
</html>